<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Nuestra Boda
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="profile-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="../index.html">
          Yaz & Jesús </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#confirmacion" class="nav-link" >
              <i class="material-icons">favorites</i> Confirmacion
            </a>
          </li>

          <li class="nav-item">
            <a href="#datos" class="nav-link" >
              <i class="material-icons">favorites</i> Lugar y Fecha
            </a>
          </li>
          <li class="nav-item">
            <a href="#galeria" class="nav-link" >
              <i class="material-icons">favorites</i> Galeria
            </a>
          </li>
          <li class="nav-item">
            <a href="../index.html" class="nav-link" >
              <i class="material-icons">favorites</i> Cerrar Sesion
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city-profile.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../assets/img/faces/christian.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Después de casi nueve años juntos, nos unimos en matrimonio y toca celebrarlo. Que mejor que con una gran fiesta junto a las personas más cercanas y especiales de nuestra vida
Yazmín & Jesús
</h3>
              </div>
            </div>
          </div>
        </div>
        </div>


            <div class="section section-tabs">
              <div class="container">
                <!--                nav tabs	             -->
                <div id="confirmacion">
                  <h3>Por favor confirme la asistencia de usted y sus acompañantes.</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>

                      </h3>
                      <!-- Tabs with icons on Card -->
                      <div class="card card-nav-tabs">
                        <div class="card-header card-header-rose">
                          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                          <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                  <a class="nav-link " href="#profile" data-toggle="tab">
                                    <i class="material-icons">favorites</i> Confirmacion
                                  </a>
                                </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card-body ">
                          <div class="tab-content text-center">
                            <div class="tab-pane active" id="profile">
                              <h3> Seleccione la cantidad de personas que asistirán y no olvide dar click en "Confirmar"  </h3>

                              <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#configResolutivoModal">
                                <i class="material-icons">favorite</i> Confirmar
                              </button>

                              <h2>Su Mesa es: <h2>

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Tabs with icons on Card -->
                    </div>

                  </div>
                </div>
              </div>
            </div>


        <div class="section text-center" id="datos">
          <div class="row" >
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Nos llena de alegría por fin invitarlos a nuestra boda, así que atentos…</h2>
              <h3 class="title">Los esperamos el 04 de Diciembre del 2021</h3>
            </div>
          </div>
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">room</i>
                  </div>
                  <h4 class="info-title">En nuestra misa</h4>
                  <h5>A las 17.00h en la Parroquia Virgen del Carmen, Dirección: Parroquia Virgen del Carmen, Jazmín y Chamizal, Jazmín, Doracely, 79020 Cd Valles, S.L.P para celebrar nuestro Santo Sacramento</h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="material-icons">celebration</i>
                  </div>
                  <h4 class="info-title">A las 19:00 horas</h4>
                  <h5>Tendremos una celebración en el salón "El Tapatio" dirección: Carr. Cd. VALLES-Cd. Mante km 3.5 Esquina Calle Murcia Fracc. Lomas del Real, Valles, San Luis Potosí, Mexico.</h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Recuerda</h4>
                  <h5>El acceso está restringido a quien recibe esta invitación, todo para preservar las medidas de seguridad contra Covid-19 y hacer la noche más íntima. recuerda llevar cubrebocas <span class="material-icons">masks</span> kn95 o triple capa</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="galeria">
          <div class="col-md-12 ml-auto mr-auto">
            <h2 class="title" align="center" >Galeria</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">volunteer_activism</i> Nosotros
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">church</i> Misa
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">local_see</i> Fiesta
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
                <img src="../assets/img/examples/studio-2.jpg" class="rounded">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
                <img src="../assets/img/examples/studio-4.jpg" class="rounded">
                <img src="../assets/img/examples/studio-5.jpg" class="rounded">
                <img src="../assets/img/examples/studio-6.jpg" class="rounded">
                <img src="../assets/img/examples/studio14.jpg" class="rounded">
                <img src="../assets/img/examples/studio-15.jpg" class="rounded">


              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/studio-7.jpg" class="rounded">
                <img src="../assets/img/examples/studio-8.jpg" class="rounded">
                <img src="../assets/img/examples/studio-9.jpg" class="rounded">
                <img src="../assets/img/examples/studio-10.jpg" class="rounded">
                <img src="../assets/img/examples/studio-11.jpg" class="rounded">
                <img src="../assets/img/examples/studio-12.jpg" class="rounded">
                <img src="../assets/img/examples/studio13.jpg" class="rounded">

              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-12">
              <h3>  <span class="material-icons">add_a_photo</span> Próximamente</h3>
              </div>
              <!--div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
                <img src="../assets/img/examples/studio-4.jpg" class="rounded">
                <img src="../assets/img/examples/studio-6.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/studio-7.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div-->
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-12">
              <h3>  <span class="material-icons">add_a_photo</span> Próximamente</h3>
              </div>
              <!--div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
              </div-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="" target="_blank">Odisea</a> Labs.
      </div>
    </div>
  </footer>

  <div class='modal fade' tabindex='-1' id='configResolutivoModal'>
  <div class='modal-dialog  modal-md modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header bg-white'>
        <h5 class='modal-title'>Resolutivo</h5>
        <button type='button' class='btn-close' data-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body bg-white'>

        <form id='configResolutivoForm' class='p-2' novalidate>

          <br>
          <div class="row" style="text-align: center;">

            <div class="col-md-12">
              <h4 >Confirmar las personas que asistiran</h4>

          </div>

          </div>

          <p class="text-light bg-info pl-1">
            Párrafo
          </p>

          <?php
          //$id_funcionario = $_SESSION["id_userFuncionario"] ;
          $id_funcionario = 18 ;
          //$secretaria = $_SESSION["secretaria"] ;
          $secretaria = 5 ;
          echo '<input type="hidden" name="id_funcionario" id="id_funcionario" value='.$id_funcionario.'>';
          echo '<input type="hidden" name="secretaria" id="secretaria" value='.$secretaria.'>';
          ?>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Escriba el párrafo que aparecerá en el cuerpo del resolutivo (500 caracteres como máximo):</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="descripcion" id="descripcion" >


                </div>
              </div>
            </div>

            </div>



          <div class="row">
            <button type="submit" id="configResBtn" name="" class="btn btn-inverse-success btn-rounded  btn-block btn-fw">Aceptar</button>
          </div>

        </form>
        <div class="row">
          <button type="button" class="btn btn-rounded btn-danger btn-block" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
</body>

</html>
